<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Root Element 根元素</title>
    <link rel="stylesheet" href="../../static/fore/lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/fore/lib/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../static/fore/lib/swiper4.5.1/css/swiper.min.css">
    <link rel="stylesheet" href="../../static/fore/css/style.min.css">
    <script src="../../static/fore/lib/jquery-1.11.0.min.js"></script>
    <script src="../../static/fore/lib/swiper4.5.1/js/swiper.min.js"></script>
    <script src="../../static/fore/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src='//unpkg.com/valine/dist/Valine.min.js'></script>
    <script src="../../static/fore/js/utils.js"></script>
    <!-- editor.md编辑器相关 -->
    <link rel="stylesheet" href="../../static/fore/lib/editor.md-1.5.0/css/editormd.min.css">
    <script src="../../static/fore/lib/editor.md-1.5.0/editormd.min.js"></script>
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <script src="https://cdn.bootcss.com/html5shiv/r29/html5.min.js"></script>
    <![endif]-->
    <style>
        @media screen and (max-width: 768px){
            .message {
                display: none;
            }
            .content-main .content-detail {
                margin-top: 0;
            }
        }
    </style>
</head>
<body>
<div th:replace="fore/header.html"></div>
<!-- 内容区 -->
<div class="content pr">
    <!-- 文章详情部分 -->
    <div class="content-main">
        <section class="content-detail mt15">
            <nav class="detail-nav p10">
                <a href="javascript:"><i class="fa fa-home"></i></a>
                <i class="fa fa-angle-double-right"></i>
                <a href="javascript:"><span>技术杂谈</span></a>
                <i class="fa fa-angle-double-right"></i>
                <a href="javascript:"><span>python</span></a>
                <i class="fa fa-angle-double-right"></i>
                <a href="javascript:"><span>python2爬虫系列教程</span></a>
            </nav>
            <header class="detail-header p10">
                <p class="article-title f14 mb5">Python2爬虫学习系列教程</p>
                <a href="javascript:"><i class="fa fa-list"></i><span>python</span></a>
                <a href="javascript:"><i class="fa fa-user"></i><span>崔庆才</span></a>
                <a href="javascript:"><i class="fa fa-calendar-times-o"></i><span>2015-02-21 14:14</span></a>
                <a href="javascript:"><i class="fa fa-eye"></i><span>1565274浏览</span></a>
                <a href="javascript:"><i class="fa fa-comment"></i><span>21评论</span></a>
            </header>
            <section class="detail-content p20" style="min-height: 1000px">

            </section>
            <section class="detail-label p10">
                <i class="fa fa-tag f20"></i>
                <a class="label" href="javascript:">
                    python
                </a>
            </section>
            <section class="detail-pre-next p10 flex flex-justify-content-space-between">
                <div class="pre">
                    <a href="javascript:"><i class="fa fa-angle-double-left"></i>Python爬虫实战四之爬取淘宝MM照片</a>
                </div>
                <div class="next">
                    <a href="javascript:">Python爬虫实战四之爬取淘宝MM照片<i class="fa fa-angle-double-right"></i></a>
                </div>
            </section>
            <section class="detail-hot-list p10">
                <ul>
                    <li class="mb10 mr10"><i class="fa fa-minus"></i><a href="javascript:" class="ml5">[Python3 网络爬虫开发实战]9.5-使用代理爬取微信</a></li>
                    <li class="mb10 mr10"><i class="fa fa-minus"></i><a href="javascript:" class="ml5">[Python3 网络爬虫开发实战]9.5-使用代理爬取微信</a></li>
                    <li class="mb10 mr10"><i class="fa fa-minus"></i><a href="javascript:" class="ml5">[Python3 网络爬虫开发实战]9.5-使用代理爬取微信</a></li>
                    <li class="mb10 mr10"><i class="fa fa-minus"></i><a href="javascript:" class="ml5">[Python3 网络爬虫开发实战]9.5-使用代理爬取微信</a></li>
                    <li class="mb10 mr10"><i class="fa fa-minus"></i><a href="javascript:" class="ml5">[Python3 网络爬虫开发实战]9.5-使用代理爬取微信</a></li>
                </ul>
            </section>
            <!--留言区-->
            <div class="title p10">网友留言</div>
            <section class="mb20 p10" id="comments" style="background-color:#FFFFFF;"></section>
        </section>
    </div>
    <div th:replace="fore/content_side.html"></div>
</div>
<!-- 导航栏 -->
<!--<div class="side-nav">-->
<!--</div>-->
<div th:replace="fore/footer.html"></div>
</body>
<script src="../../static/fore/js/common.js"></script>
<script>
    // 初始化评论系统
    new Valine({
        el: '#comments',
        appId: 'iyTC528gHvHe09Qg8b5HPrvj-gzGzoHsz',
        appKey: '8ndLNYwjGS7FPLKdzgRKCfeL',
        notify: false,
        verify: false,
        avatar: 'wavatar',
        placeholder: '评论请留下您的邮箱和昵称....'
    });
</script>
</html>