<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Root Element 根元素</title>
    <link rel="stylesheet" th:href="@{/static/fore/lib/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/static/fore/lib/font-awesome-4.7.0/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/static/fore/lib/swiper4.5.1/css/swiper.min.css}">
    <link rel="stylesheet" th:href="@{/static/fore/css/style.min.css}">
    <script th:src="@{/static/fore/lib/jquery-1.11.0.min.js}"></script>
    <script th:src="@{/static/fore/lib/swiper4.5.1/js/swiper.min.js}"></script>
    <script th:src="@{/static/fore/lib/bootstrap/js/bootstrap.min.js}"></script>
    <script src="//unpkg.com/valine/dist/Valine.min.js"></script>
    <script th:src="@{/static/fore/js/utils.js}"></script>
    <!-- editor.md编辑器相关 -->
    <link rel="stylesheet" th:href="@{/static/fore/lib/editor.md-1.5.0/css/editormd.preview.min.css}">
    <link rel="stylesheet" th:href="@{/static/fore/lib/google-code-prettify/prettify.css}">
    <link rel="stylesheet" th:href="@{/static/fore/lib/google-code-prettify/skins/tomorrow.min.css}">
    <script th:src="@{/static/fore/lib/editor.md-1.5.0/lib/marked.min.js}"></script>
    <script th:src="@{/static/fore/lib/google-code-prettify/prettify.js}"></script>
    <script th:src="@{/static/fore/lib/editor.md-1.5.0/lib/raphael.min.js}"></script>
    <script th:src="@{/static/fore/lib/editor.md-1.5.0/lib/underscore.min.js}"></script>
    <script th:src="@{/static/fore/lib/editor.md-1.5.0/lib/sequence-diagram.min.js}"></script>
    <script th:src="@{/static/fore/lib/editor.md-1.5.0/lib/flowchart.min.js}"></script>
    <script th:src="@{/static/fore/lib/editor.md-1.5.0/lib/jquery.flowchart.min.js}"></script>
    <script th:src="@{/static/fore/lib/editor.md-1.5.0/editormd.min.js}"></script>
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <script src="https://cdn.bootcss.com/html5shiv/r29/html5.min.js"></script>
    <![endif]-->
    <style>
        @media screen and (max-width: 768px){
            .message {
                display: none;
            }
            .content-main .content-detail {
                margin-top: 0;
            }
        }
    </style>
</head>
<body>
<div th:replace="fore/header.html"></div>
<!-- 内容区 -->
<div class="content pr">
    <!-- 文章详情部分 -->
    <div class="content-main">
        <section class="content-detail mt15">
            <nav class="detail-nav p10">
                <a href="javascript:"><i class="fa fa-home"></i></a>
                <i class="fa fa-angle-double-right"></i>
                <a href="javascript:"><span>技术杂谈</span></a>
                <i class="fa fa-angle-double-right"></i>
                <a href="javascript:"><span>python</span></a>
                <i class="fa fa-angle-double-right"></i>
                <a href="javascript:"><span>python2爬虫系列教程</span></a>
            </nav>
            <header class="detail-header p10">
                <p class="article-title f14 mb5">Python2爬虫学习系列教程</p>
                <a href="javascript:"><i class="fa fa-list"></i><span>python</span></a>
                <a href="javascript:"><i class="fa fa-user"></i><span>崔庆才</span></a>
                <a href="javascript:"><i class="fa fa-calendar-times-o"></i><span>2015-02-21 14:14</span></a>
                <a href="javascript:"><i class="fa fa-eye"></i><span>1565274浏览</span></a>
                <a href="javascript:"><i class="fa fa-comment"></i><span>21评论</span></a>
            </header>
            <section class="detail-content p20" id="detail-content" style="min-height: 1000px">
                <textarea name="" id="" cols="30" rows="10" style="display: none">## 入门概述

### redis是什么

Redis：REmote DIctionary Server（远程字典服务器）

是一个完全开源免费的，用C语言编写的，遵守BSD协议，是一个高性能（Key/Value)分布式内存数据库，基于内存运行并支持持久化的NoSQL数据库，是当前最热门的NoSql数据库之一，也被人们称为数据结构服务器

Redis有以下三个特点：

1. Redis支持数据的持久化，可以将内存中的数据保持在磁盘中，重启的时候可以再次加载进行使用
2. Redis不仅仅支持简单的key-value类型的数据，同时还提供list，set，zset，hash等数据结构的存储
3. Redis支持数据的备份，即master-slave模式的数据备份

### redis能干什么

* 内存存储和持久化：redis支持异步将内存中的数据写到硬盘上，同时不影响继续服务
* 取最新N个数据的操作，如：可以将最新的10条评论的ID放在Redis的List集合里面
* 模拟类似于HttpSession这种需要设定过期时间的功能
* 发布、订阅消息系统
* 定时器、计数器

## redis基础知识

### Redis的单进程

单进程模型来处理客户端的请求。对读写等事件的响应是通过对epoll函数的包装来做到的。Redis的实际处理速度完全依靠主进程的执行效率，Epoll是Linux内核为处理大批量文件描述符而作了改进的epoll，是Linux下多路复用IO接口select/poll的增强版本，它能显著提高程序在大量并发连接中只有少量活跃的情况下的系统CPU利用率。

### Redis 数据库

redis默认有16个数据库，类似于数组下标从0开始，初始默认使用0号库。

### select命令切换数据库

使用select命令可以对当前使用数据库进行切换，例如

```shell
# select index
select 1 # 选择1号数据库
```

### Dbsize 查看当前数据库的key的数量

使用Dbsize命令可以查看当前数据库的key的数量

```shell
# Dbsize
Dbsize
## (integer) 4
```

### Flushdb 清空当前库

```shell
flushdb
```

### Flushall 清空所有库

```shell
flushall
```

## redis基本数据结构

### String（字符串）类型

string是redis最基本的类型，可以理解成key与value一对一的模式，string类型是二进制安全的。意思是redis的string可以包含任何数据。比如jpg图片或者序列化的对象。string类型最大可以支持512M的value。

```shell

```

</textarea>
            </section>
            <section class="detail-label p10">
                <i class="fa fa-tag f20"></i>
                <a class="label" href="javascript:">
                    python
                </a>
            </section>
            <section class="detail-pre-next p10 flex flex-justify-content-space-between">
                <div class="pre">
                    <a href="javascript:"><i class="fa fa-angle-double-left"></i>Python爬虫实战四之爬取淘宝MM照片</a>
                </div>
                <div class="next">
                    <a href="javascript:">Python爬虫实战四之爬取淘宝MM照片<i class="fa fa-angle-double-right"></i></a>
                </div>
            </section>
            <section class="detail-hot-list p10">
                <ul>
                    <li class="mb10 mr10"><i class="fa fa-minus"></i><a href="javascript:" class="ml5">[Python3 网络爬虫开发实战]9.5-使用代理爬取微信</a></li>
                    <li class="mb10 mr10"><i class="fa fa-minus"></i><a href="javascript:" class="ml5">[Python3 网络爬虫开发实战]9.5-使用代理爬取微信</a></li>
                    <li class="mb10 mr10"><i class="fa fa-minus"></i><a href="javascript:" class="ml5">[Python3 网络爬虫开发实战]9.5-使用代理爬取微信</a></li>
                    <li class="mb10 mr10"><i class="fa fa-minus"></i><a href="javascript:" class="ml5">[Python3 网络爬虫开发实战]9.5-使用代理爬取微信</a></li>
                    <li class="mb10 mr10"><i class="fa fa-minus"></i><a href="javascript:" class="ml5">[Python3 网络爬虫开发实战]9.5-使用代理爬取微信</a></li>
                </ul>
            </section>
            <!--留言区-->
            <div class="title p10">网友留言</div>
            <section class="mb20 p10" id="comments" style="background-color:#FFFFFF;"></section>
        </section>
    </div>
    <div th:replace="fore/content_side.html"></div>
</div>
<!-- 导航栏 -->
<!--<div class="side-nav">-->
<!--</div>-->
<div th:replace="fore/footer.html"></div>
</body>
<script th:src="@{/static/fore/js/common.js}"></script>
<script>
    // 初始化评论系统
    new Valine({
        el: '#comments',
        appId: 'iyTC528gHvHe09Qg8b5HPrvj-gzGzoHsz',
        appKey: '8ndLNYwjGS7FPLKdzgRKCfeL',
        notify: false,
        verify: false,
        avatar: 'wavatar',
        placeholder: '评论请留下您的邮箱和昵称....'
    });

    editormd.markdownToHTML("detail-content", {
        htmlDecode: "style,script,iframe",
        emoji: true,
        taskList: true,
        tocm: true,
        tex: true, // 默认不解析
        flowChart: true, // 默认不解析
        sequenceDiagram: true, // 默认不解析
        codeFold: true
    });
</script>
</html>