<!-- 首页侧边栏部分 -->
<div class="content-side pa">
    <!-- 联系方式 -->
    <div class="social p10 mb15">
        <a href="javascript:" class="fl"><i class="fa fa-wechat "></i></a>
        <a href="javascript:" class="fl"><i class="fa fa-weibo"></i></a>
        <a href="javascript:" class="fl"><i class="fa fa-qq"></i></a>
        <a href="javascript:" class="fl"><i class="fa fa-github"></i></a>
        <a href="javascript:" class="fl"><i class="fa fa-rss"></i></a>
    </div>
    <!-- 博主信息 -->
    <div class="author-info mb15">
        <div class="title mb15">博主信息</div>
        <div class="description mb15">
            <a href="javascript:" class="avatar mr15">
                <img src="http://www.ljtnono.cn/myblog/images/album/me.jpg" alt="最后的疼爱" title="最后的疼爱">
            </a>
            <div class="description-text">
                <p class="mb5 f14">网名：最后的疼爱</p>
                <p class="mb5 f14">职业：程序员</p>
                <p class="mb5 f14">现居：北京-昌平</p>
                <p class="mb5 f14">Email：935188400@qq.com</p>
            </div>
        </div>
        <div class="author-tags flex flex-justify-content-space-between">
            <a href="javascript:" class="author-tag">理想主义者</a>
            <a href="javascript:" class="author-tag">技术宅</a>
            <a href="javascript:" class="author-tag">天然呆</a>
        </div>
    </div>
    <!-- 猜你喜欢 -->
    <div class="guess mb15">
        <div class="title mb15">猜你喜欢</div>
        <div class="guess-item pb10 mb10">
            <a href="javascript:" class="thumb mr5"><img
                    src="https://www.ljtnono.cn/group1/M00/00/00/rBKlY1yEpZqACq25AAAbhH43tzY093.jpg" alt=""></a>
            <div class="guess-text pr">
                <a class="guess-title pa" href="javascript:">Git:一款比付费主题更像是付费主题的WordPress免费主题</a>
                <a class="guess-info pa">
                    <span>2019-10-13</span>
                    <span>1,213评论</span>
                </a>
            </div>
        </div>
        <div class="guess-item pb10 mb10">
            <a href="javascript:" class="thumb mr5"><img
                    src="https://www.ljtnono.cn/group1/M00/00/00/rBKlY1yEpZqACq25AAAbhH43tzY093.jpg" alt=""></a>
            <div class="guess-text pr">
                <a class="guess-title pa" href="javascript:">Git:一款比付费主题更像是付费主题的WordPress免费主题</a>
                <a class="guess-info pa">
                    <span>2019-10-13</span>
                    <span>1,213评论</span>
                </a>
            </div>
        </div>
        <div class="guess-item pb10 mb10">
            <a href="javascript:" class="thumb mr5"><img
                    src="https://www.ljtnono.cn/group1/M00/00/00/rBKlY1yEpZqACq25AAAbhH43tzY093.jpg" alt=""></a>
            <div class="guess-text pr">
                <a class="guess-title pa" href="javascript:">Git:一款比付费主题更像是付费主题的WordPress免费主题</a>
                <a class="guess-info pa">
                    <span>2019-10-13</span>
                    <span>1,213评论</span>
                </a>
            </div>
        </div>
        <div class="guess-item pb10 mb10">
            <a href="javascript:" class="thumb mr5"><img
                    src="https://www.ljtnono.cn/group1/M00/00/00/rBKlY1yEpZqACq25AAAbhH43tzY093.jpg" alt=""></a>
            <div class="guess-text pr">
                <a class="guess-title pa" href="javascript:">Git:一款比付费主题更像是付费主题的WordPress免费主题</a>
                <a class="guess-info pa">
                    <span>2019-10-13</span>
                    <span>1,213评论</span>
                </a>
            </div>
        </div>
        <div class="guess-item pb10 mb10">
            <a href="javascript:" class="thumb mr5"><img
                    src="https://www.ljtnono.cn/group1/M00/00/00/rBKlY1yEpZqACq25AAAbhH43tzY093.jpg" alt=""></a>
            <div class="guess-text pr">
                <a class="guess-title pa" href="javascript:">Git:一款比付费主题更像是付费主题的WordPress免费主题</a>
                <a class="guess-info pa">
                    <span>2019-10-13</span>
                    <span>1,213评论</span>
                </a>
            </div>
        </div>
        <div class="guess-item pb10 mb10">
            <a href="javascript:" class="thumb mr5"><img
                    src="https://www.ljtnono.cn/group1/M00/00/00/rBKlY1yEpZqACq25AAAbhH43tzY093.jpg" alt=""></a>
            <div class="guess-text pr">
                <a class="guess-title pa" href="javascript:">Git:一款比付费主题更像是付费主题的WordPress免费主题</a>
                <a class="guess-info pa">
                    <span>2019-10-13</span>
                    <span>1,213评论</span>
                </a>
            </div>
        </div>
    </div>
    <!-- 热门标签 -->
    <div class="tags mb15" scroll-fixed>
        <div class="title mb15">热门标签</div>
        <a href="javascript:" class="tag">js(146)</a>
        <a href="javascript:" class="tag">css(80)</a>
        <a href="javascript:" class="tag">springmvc(150)</a>
        <a href="javascript:" class="tag">mybatis(132)</a>
        <a href="javascript:" class="tag">bootstrap(146)</a>
        <a href="javascript:" class="tag">jquery(146)</a>
        <a href="javascript:" class="tag">spring(146)</a>
        <a href="javascript:" class="tag">java(146)</a>
        <a href="javascript:" class="tag">maven(146)</a>
        <a href="javascript:" class="tag">springboot(146)</a>
        <a href="javascript:" class="tag">html(146)</a>
        <a href="javascript:" class="tag">ps(146)</a>
        <a href="javascript:" class="tag">android(146)</a>
    </div>
    <!-- 友情链接 -->
    <div class="links mb15" scroll-fixed>
        <div class="title">友情链接</div>
        <a href="javascript:" class="link">花瓣网</a>
        <a href="javascript:" class="link">杨青博客</a>
        <a href="javascript:" class="link">温志怀博客</a>
        <a href="javascript:" class="link">欲思博客</a>
        <a href="javascript:" class="link">网络营销推广</a>
        <a href="javascript:" class="link">导购主题</a>
        <a href="javascript:" class="link">王志军博客</a>
        <a href="javascript:" class="link">料神SAM料网</a>
    </div>
    <!-- 加我微信 -->
    <div class="wechat">
        <div class="title mb15">加我微信</div>
        <a href="javascript:">
            <img src="../../static/fore/images/qrcode-wechat.png" alt="加我微信">
        </a>
    </div>
</div>