<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>footer</title>
</head>
<body>
<!-- footer部分 -->
<footer class="footer f14" id="footer">
    <p>
        <span class="author">
            copyright
            <i class="fa fa-copyright" aria-hidden="true"></i>
            凌家童
        </span>
        <i class="fa">|</i>
        <span>版权所有 改自思欲主题</span>
    </p>
    <script>
        document.write("<p>基于JAVA构建" + "\n" + "2019-10-20" + "至" + new DateUtil().format("yyyy-MM-dd") + "</p>");
    </script>
    <p><a href="">鄂ICP备18013706号-1</a></p>
</footer>
</body>
</html>