<!-- 头部分 -->
<header id="header">
    <div class="logo">
        <a href="javascript:" class="cursor-pointer">
            <h1>
                <img src="../../static/fore/images/logo_word.png" alt="RootElement根元素" class="logo-word"
                     title="RootElement根元素">
            </h1>
        </a>
    </div>
    <!-- 导航按钮和搜索按钮 -->
    <div class="side-nav-header">
        <div class="side-nav-bar cursor-pointer fl">
            <i class="fa fa-bars" aria-hidden="true"></i>
        </div>
        <div class="side-nav-search cursor-pointer fr">
            <i class="fa fa-search" aria-hidden="true"></i>
        </div>
    </div>
    <!-- 导航栏 -->
    <nav class="nav pr">
        <ul class="nav-menu">
            <li class="nav-item fl">
                <a href="/re" th:if="${currentPage == 'index'}" class="nav-active"><i class="fa fa-home" aria-hidden="true"></i>首页</a>
                <a href="/re" th:if="${currentPage != 'index'}"><i class="fa fa-home" aria-hidden="true"></i>首页</a>
            </li>
            <li class="nav-item fl">
                <a href="/re/articles_technology" th:if="${currentPage == 'articles_technology'}" class="nav-active"><i class="fa fa-wrench" aria-hidden="true"></i>技术文章</a>
                <a href="/re/articles_technology" th:if="${currentPage != 'articles_technology'}"><i class="fa fa-wrench" aria-hidden="true"></i>技术文章</a>
            </li>
            <li class="nav-item fl">
                <a href="/re/support" th:if="${currentPage == 'support'}" class="nav-active"><i class="fa fa-thumbs-up" aria-hidden="true"></i>支持我</a>
                <a href="/re/support" th:if="${currentPage != 'support'}"><i class="fa fa-thumbs-up" aria-hidden="true"></i>支持我</a>
            </li>
            <li class="nav-item fl">
                <a href="/re/about" th:if="${currentPage == 'about'}" class="nav-active"><i class="fa fa-info-circle" aria-hidden="true"></i>关于作者</a>
                <a href="/re/about" th:if="${currentPage != 'about'}"><i class="fa fa-info-circle" aria-hidden="true"></i>关于作者</a>
            </li>
            <li class="nav-item nav-search fr">
                <a href="#" style="padding: 20px 22px;">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </a>
            </li>
        </ul>
    </nav>
    <div class="line h10" style="opacity: 0.9"></div>
</header>
<!-- 消息通知栏 -->
<div class="w message">
    <div class="message-content">
        <i class="fa fa-volume-up"></i>
        <span class="f16">看到网上新闻美国的贴吧将成为中国公司</span>
    </div>
</div>