<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Root Element 根元素</title>
    <!--        <link rel="stylesheet" href="../../static/fore/lib/bootstrap/css/bootstrap.min.css">-->
    <link rel="stylesheet" href="../../static/fore/css/base.min.css">
    <link rel="stylesheet" href="../../static/fore/lib/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../static/fore/lib/swiper4.5.1/css/swiper.min.css">
    <link rel="stylesheet" href="../../static/fore/css/style.min.css">
    <script src="../../static/fore/lib/jquery-1.11.0.min.js"></script>
    <script src="../../static/fore/lib/swiper4.5.1/js/swiper.min.js"></script>
    <!--        <script src="../../static/fore/lib/bootstrap/js/bootstrap.min.js"></script>-->
    <script src="../../static/fore/js/common.js"></script>
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <script src="https://cdn.bootcss.com/html5shiv/r29/html5.min.js"></script>
    <![endif]-->
</head>
<body>
<!-- 头部分 -->
<header class="header pr" id="header">
    <div class="logo">
        <a href="#" class="cursor-pointer">
            <h1>
                <img src="../../static/fore/images/logo_word.png" alt="RootElement根元素" class="logo-word"
                     title="RootElement根元素">
            </h1>
        </a>
    </div>
    <!-- 导航按钮和搜索按钮 -->
    <div class="side-nav-header">
        <div class="side-nav-bar cursor-pointer fl">
            <i class="fa fa-bars" aria-hidden="true"></i>
        </div>
        <div class="side-nav-search cursor-pointer fr">
            <i class="fa fa-search" aria-hidden="true"></i>
        </div>
    </div>
    <!-- 导航栏 -->
    <nav class="nav pr">
        <ul class="nav-menu">
            <li class="nav-item fl">
                <a href="#" class="nav-active"><i class="fa fa-home" aria-hidden="true"></i>首页</a>
            </li>
            <li class="nav-item fl">
                <a href="#"><i class="fa fa-wrench" aria-hidden="true"></i>技术文章</a>
            </li>
            <li class="nav-item fl">
                <a href="#"><i class="fa fa-thumbs-up" aria-hidden="true"></i>支持我</a>
            </li>
            <li class="nav-item fl">
                <a href="#"><i class="fa fa-info-circle" aria-hidden="true"></i>关于作者</a>
            </li>
            <li class="nav-item nav-search fr">
                <a href="#" style="padding: 20px 22px;">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </a>
            </li>
        </ul>
    </nav>
    <div class="line h10" style="opacity: 0.9"></div>
</header>
<!-- 消息通知栏 -->
<div class="w message">
    <div class="message-content">
        <i class="fa fa-volume-up"></i>
        <span class="f16">看到网上新闻美国的贴吧将成为中国公司</span>
    </div>
</div>
<!-- 内容区 -->
<div class="content pr">
    <div class="content-main">
        <!-- swiper -->
        <div class="swiper-container" id="swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide swiper-zoom-container">
                    <img src="../../static/fore/images/bird.jpg" alt="">
                </div>
                <div class="swiper-slide swiper-zoom-container">
                    <img src="../../static/fore/images/coffee.jpg" alt="">
                </div>
                <div class="swiper-slide swiper-zoom-container">
                    <img src="../../static/fore/images/leaves.jpg" alt="">
                </div>
                <div class="swiper-slide swiper-zoom-container">
                    <img src="../../static/fore/images/sunset.jpg" alt="">
                </div>
            </div>
            <!-- 分页器 -->
            <div class="swiper-pagination"></div>
            <!-- 指示器 -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
            <!-- 滚动条 -->
            <div class="swiper-scrollbar"></div>
        </div>

        <!-- hot -->
        <div class="hot f16">
            <div class="title">热门文章</div>
            <div class="hot-content">
                <ul class="hot-list">
                    <li class="hot-item mb10">
                        <span class="hot-label">1</span>
                        <a href="javascript:" class="hot-title">Git:一款比付费主题更像是付费主题的WordPress免费主题</a>
                        <span class="hot-comment fr"><i class="fa fa-comment" style="color: #FF8E8E"></i>55评论</span>
                        <span class="hot-view mr15 fr"><i class="fa fa-eye" style="color: #3DB1AD"></i>132浏览</span>
                    </li>
                    <li class="hot-item mb10">
                        <span class="hot-label">2</span>
                        <a href="javascript:" class="hot-title">Git主题官方在线使用文档</a>
                        <span class="hot-comment fr"><i class="fa fa-comment" style="color: #FF8E8E"></i>55评论</span>
                        <span class="hot-view mr15 fr"><i class="fa fa-eye" style="color: #3DB1AD"></i>132浏览</span>
                    </li>
                    <li class="hot-item mb10">
                        <span class="hot-label">3</span>
                        <a href="javascript:" class="hot-title">WordPress数据库定时远程备份插件-云落优化精简版WP Database Backup</a>
                        <span class="hot-comment fr"><i class="fa fa-comment" style="color: #FF8E8E"></i>55评论</span>
                        <span class="hot-view mr15 fr"><i class="fa fa-eye" style="color: #3DB1AD"></i>132浏览</span>
                    </li>
                    <li class="hot-item mb10">
                        <span class="hot-label">4</span>
                        <a href="javascript:" class="hot-title">Payjs For Ponits：基于Payjs开发的WordPress积分充值微信支付插件</a>
                        <span class="hot-comment fr"><i class="fa fa-comment" style="color: #FF8E8E"></i>55评论</span>
                        <span class="hot-view mr15 fr"><i class="fa fa-eye" style="color: #3DB1AD"></i>132浏览</span>
                    </li>
                    <li class="hot-item mb10">
                        <span class="hot-label">5</span>
                        <a href="javascript:" class="hot-title">WordPress函数文件常用自定义代码</a>
                        <span class="hot-comment fr"><i class="fa fa-comment" style="color: #FF8E8E"></i>55评论</span>
                        <span class="hot-view mr15 fr"><i class="fa fa-eye" style="color: #3DB1AD"></i>132浏览</span>
                    </li>
                </ul>
            </div>
        </div>
        <!-- 文章列表项 -->
        <div class="articles">
            <article class="article mb10 p10">
                <header class="article-header mb10">
            <span class="article-label f12 mr5">
                SpringBoot
                <i class="label-arrow"></i>
            </span>
                    <span class="article-title f14">对象及变量的并发访问</span>
                </header>
                <div class="article-detail">
                    <a href="javascript:" class="mr10 article-thumb">
                        <img src="https://www.ljtnono.cn/group1/M00/00/00/rBUAC1zmdjiAf_2uAACwcD9FHZU344.png"
                             alt="对象及变量的并发访问"
                             title="对象及变量的并发访问">
                    </a>
                    <a href="#" class="article-summary f10 mb10">
                        弹性布局学习弹性盒子布局之前，我们要弄清楚现有的布局方式的缺点，比如行内快、浮动、以及表格的缺点。
                        行内快空白问题来看下面一段代码
                    </a>
                    <span class="article-info">
                <a href="#" class="f12"><i class="fa fa-user pr5" aria-hidden="true"></i><span class=""
                                                                                               style="color: #00A67C;">ljtnono</span></a>
                <a href="#" class="f12"><i class="fa fa-clock-o" aria-hidden="true"></i><span
                        class="">2019-10-10 17:57</span></a>
                <a href="#" class="f12"><i class="fa fa-eye" aria-hidden="true"></i><span class="">1034浏览</span></a>
                <a href="#" class="f12"><i class="fa fa-comment" aria-hidden="true"></i><span class="">10评论</span></a>
            </span>
                </div>
            </article>
            <article class="article mb10 p10">
                <header class="article-header mb10">
            <span class="article-label f12 mr5">
                SpringBoot
                <i class="label-arrow"></i>
            </span>
                    <span class="article-title f14">对象及变量的并发访问</span>
                </header>
                <div class="article-detail">
                    <a href="javascript:" class="mr10 article-thumb">
                        <img src="https://www.ljtnono.cn/group1/M00/00/00/rBUAC1zmdjiAf_2uAACwcD9FHZU344.png"
                             alt="对象及变量的并发访问"
                             title="对象及变量的并发访问">
                    </a>
                    <a href="#" class="article-summary f10 mb10">
                        弹性布局学习弹性盒子布局之前，我们要弄清楚现有的布局方式的缺点，比如行内快、浮动、以及表格的缺点。
                        行内快空白问题来看下面一段代码
                    </a>
                    <span class="article-info">
                <a href="#" class="f12"><i class="fa fa-user pr5" aria-hidden="true"></i><span class=""
                                                                                               style="color: #00A67C;">ljtnono</span></a>
                <a href="#" class="f12"><i class="fa fa-clock-o" aria-hidden="true"></i><span
                        class="">2019-10-10 17:57</span></a>
                <a href="#" class="f12"><i class="fa fa-eye" aria-hidden="true"></i><span class="">1034浏览</span></a>
                <a href="#" class="f12"><i class="fa fa-comment" aria-hidden="true"></i><span class="">10评论</span></a>
            </span>
                </div>
            </article>
            <article class="article mb10 p10">
                <header class="article-header mb10">
            <span class="article-label f12 mr5">
                SpringBoot
                <i class="label-arrow"></i>
            </span>
                    <span class="article-title f14">对象及变量的并发访问</span>
                </header>
                <div class="article-detail">
                    <a href="javascript:" class="mr10 article-thumb">
                        <img src="https://www.ljtnono.cn/group1/M00/00/00/rBUAC1zmdjiAf_2uAACwcD9FHZU344.png"
                             alt="对象及变量的并发访问"
                             title="对象及变量的并发访问">
                    </a>
                    <a href="#" class="article-summary f10 mb10">
                        弹性布局学习弹性盒子布局之前，我们要弄清楚现有的布局方式的缺点，比如行内快、浮动、以及表格的缺点。
                        行内快空白问题来看下面一段代码
                    </a>
                    <span class="article-info">
                <a href="#" class="f12"><i class="fa fa-user pr5" aria-hidden="true"></i><span class=""
                                                                                               style="color: #00A67C;">ljtnono</span></a>
                <a href="#" class="f12"><i class="fa fa-clock-o" aria-hidden="true"></i><span
                        class="">2019-10-10 17:57</span></a>
                <a href="#" class="f12"><i class="fa fa-eye" aria-hidden="true"></i><span class="">1034浏览</span></a>
                <a href="#" class="f12"><i class="fa fa-comment" aria-hidden="true"></i><span class="">10评论</span></a>
            </span>
                </div>
            </article>
            <article class="article mb10 p10">
                <header class="article-header mb10">
            <span class="article-label f12 mr5">
                SpringBoot
                <i class="label-arrow"></i>
            </span>
                    <span class="article-title f14">对象及变量的并发访问</span>
                </header>
                <div class="article-detail">
                    <a href="javascript:" class="mr10 article-thumb">
                        <img src="https://www.ljtnono.cn/group1/M00/00/00/rBUAC1zmdjiAf_2uAACwcD9FHZU344.png"
                             alt="对象及变量的并发访问"
                             title="对象及变量的并发访问">
                    </a>
                    <a href="#" class="article-summary f10 mb10">
                        弹性布局学习弹性盒子布局之前，我们要弄清楚现有的布局方式的缺点，比如行内快、浮动、以及表格的缺点。
                        行内快空白问题来看下面一段代码
                    </a>
                    <span class="article-info">
                <a href="#" class="f12"><i class="fa fa-user pr5" aria-hidden="true"></i><span class=""
                                                                                               style="color: #00A67C;">ljtnono</span></a>
                <a href="#" class="f12"><i class="fa fa-clock-o" aria-hidden="true"></i><span
                        class="">2019-10-10 17:57</span></a>
                <a href="#" class="f12"><i class="fa fa-eye" aria-hidden="true"></i><span class="">1034浏览</span></a>
                <a href="#" class="f12"><i class="fa fa-comment" aria-hidden="true"></i><span class="">10评论</span></a>
            </span>
                </div>
            </article>
            <article class="article mb10 p10">
                <header class="article-header mb10">
            <span class="article-label f12 mr5">
                SpringBoot
                <i class="label-arrow"></i>
            </span>
                    <span class="article-title f14">对象及变量的并发访问</span>
                </header>
                <div class="article-detail">
                    <a href="javascript:" class="mr10 article-thumb">
                        <img src="https://www.ljtnono.cn/group1/M00/00/00/rBUAC1zmdjiAf_2uAACwcD9FHZU344.png"
                             alt="对象及变量的并发访问"
                             title="对象及变量的并发访问">
                    </a>
                    <a href="#" class="article-summary f10 mb10">
                        弹性布局学习弹性盒子布局之前，我们要弄清楚现有的布局方式的缺点，比如行内快、浮动、以及表格的缺点。
                        行内快空白问题来看下面一段代码
                    </a>
                    <span class="article-info">
                <a href="#" class="f12"><i class="fa fa-user pr5" aria-hidden="true"></i><span class=""
                                                                                               style="color: #00A67C;">ljtnono</span></a>
                <a href="#" class="f12"><i class="fa fa-clock-o" aria-hidden="true"></i><span
                        class="">2019-10-10 17:57</span></a>
                <a href="#" class="f12"><i class="fa fa-eye" aria-hidden="true"></i><span class="">1034浏览</span></a>
                <a href="#" class="f12"><i class="fa fa-comment" aria-hidden="true"></i><span class="">10评论</span></a>
            </span>
                </div>
            </article>
            <article class="article mb10 p10">
                <header class="article-header mb10">
            <span class="article-label f12 mr5">
                SpringBoot
                <i class="label-arrow"></i>
            </span>
                    <span class="article-title f14">对象及变量的并发访问</span>
                </header>
                <div class="article-detail">
                    <a href="javascript:" class="mr10 article-thumb">
                        <img src="https://www.ljtnono.cn/group1/M00/00/00/rBUAC1zmdjiAf_2uAACwcD9FHZU344.png"
                             alt="对象及变量的并发访问"
                             title="对象及变量的并发访问">
                    </a>
                    <a href="#" class="article-summary f10 mb10">
                        弹性布局学习弹性盒子布局之前，我们要弄清楚现有的布局方式的缺点，比如行内快、浮动、以及表格的缺点。
                        行内快空白问题来看下面一段代码
                    </a>
                    <span class="article-info">
                <a href="#" class="f12"><i class="fa fa-user pr5" aria-hidden="true"></i><span class=""
                                                                                               style="color: #00A67C;">ljtnono</span></a>
                <a href="#" class="f12"><i class="fa fa-clock-o" aria-hidden="true"></i><span
                        class="">2019-10-10 17:57</span></a>
                <a href="#" class="f12"><i class="fa fa-eye" aria-hidden="true"></i><span class="">1034浏览</span></a>
                <a href="#" class="f12"><i class="fa fa-comment" aria-hidden="true"></i><span class="">10评论</span></a>
            </span>
                </div>
            </article>
            <article class="article mb10 p10">
                <header class="article-header mb10">
            <span class="article-label f12 mr5">
                SpringBoot
                <i class="label-arrow"></i>
            </span>
                    <span class="article-title f14">对象及变量的并发访问</span>
                </header>
                <div class="article-detail">
                    <a href="javascript:" class="mr10 article-thumb">
                        <img src="https://www.ljtnono.cn/group1/M00/00/00/rBUAC1zmdjiAf_2uAACwcD9FHZU344.png"
                             alt="对象及变量的并发访问"
                             title="对象及变量的并发访问">
                    </a>
                    <a href="#" class="article-summary f10 mb10">
                        弹性布局学习弹性盒子布局之前，我们要弄清楚现有的布局方式的缺点，比如行内快、浮动、以及表格的缺点。
                        行内快空白问题来看下面一段代码
                    </a>
                    <span class="article-info">
                <a href="#" class="f12"><i class="fa fa-user pr5" aria-hidden="true"></i><span class=""
                                                                                               style="color: #00A67C;">ljtnono</span></a>
                <a href="#" class="f12"><i class="fa fa-clock-o" aria-hidden="true"></i><span
                        class="">2019-10-10 17:57</span></a>
                <a href="#" class="f12"><i class="fa fa-eye" aria-hidden="true"></i><span class="">1034浏览</span></a>
                <a href="#" class="f12"><i class="fa fa-comment" aria-hidden="true"></i><span class="">10评论</span></a>
            </span>
                </div>
            </article>
            <article class="article mb10 p10">
                <header class="article-header mb10">
            <span class="article-label f12 mr5">
                SpringBoot
                <i class="label-arrow"></i>
            </span>
                    <span class="article-title f14">对象及变量的并发访问</span>
                </header>
                <div class="article-detail">
                    <a href="javascript:" class="mr10 article-thumb">
                        <img src="https://www.ljtnono.cn/group1/M00/00/00/rBUAC1zmdjiAf_2uAACwcD9FHZU344.png"
                             alt="对象及变量的并发访问"
                             title="对象及变量的并发访问">
                    </a>
                    <a href="#" class="article-summary f10 mb10">
                        弹性布局学习弹性盒子布局之前，我们要弄清楚现有的布局方式的缺点，比如行内快、浮动、以及表格的缺点。
                        行内快空白问题来看下面一段代码
                    </a>
                    <span class="article-info">
                <a href="#" class="f12"><i class="fa fa-user pr5" aria-hidden="true"></i><span class=""
                                                                                               style="color: #00A67C;">ljtnono</span></a>
                <a href="#" class="f12"><i class="fa fa-clock-o" aria-hidden="true"></i><span
                        class="">2019-10-10 17:57</span></a>
                <a href="#" class="f12"><i class="fa fa-eye" aria-hidden="true"></i><span class="">1034浏览</span></a>
                <a href="#" class="f12"><i class="fa fa-comment" aria-hidden="true"></i><span class="">10评论</span></a>
            </span>
                </div>
            </article>
        </div>
    </div>
    <div class="content-side pa">

    </div>
</div>


<!-- 导航栏 -->
<!--<div class="side-nav">-->

<!--</div>-->


<!-- footer部分 -->

<footer class="footer f12" id="footer">
    <div class="line" style="background-color:#23B7E5;height: 2px;margin-bottom: 10px;"></div>
    <p>
        <span class="author">
            copyright
            <i class="fa fa-copyright" aria-hidden="true"></i>
            凌家童
        </span>
        <i class="fa">|</i>
        <span>版权所有 改自思欲主题</span>
    </p>
    <script>
        document.write("<p>基于JAVA构建" + "\n" + "2019-10-20" + "至" + new DateUtil().format("yyyy-MM-dd") + "</p>");
    </script>
    <p style="margin-bottom: 10px;"><a href="">鄂ICP备18013706号-1</a></p>
</footer>


</body>
<script type="text/javascript">
    // 配置swiper
    var swiper = new Swiper(".swiper-container", {
        speed: 800,
        loop: true,
        grabCursor: true,
        init: true,
        zoom: true,
        autoplay: {
            autoplay: true,
            delay: 3000,
            stopOnLastSlide: false,
            disableOnInteraction: true
        },
        effect: "slide",
        pagination: {
            el: '.swiper-pagination',
            type: "custom",
            dynamicBullets: true,
            dynamicMainBullets: 3,
            hideOnClick: true,
            clickable: true
        },
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev'
        },
        scrollbar: {
            el: '.swiper-scrollbar',
            hide: true,
            draggable: true
        }
    });
</script>

</html>